header#header {
	display: none !important;
}

.modal-container__close {
	display: none !important;
}

.file-picker__main {
	.breadcrumb__actions {
		display: none !important;
	}
}

.dialog__actions {
	justify-content: center !important;
}