header#header {
	display: none !important;
}

.oc-dialog {
	height: 100% !important;
	width: 100% !important;
	border-radius: unset !important;
	box-shadow: unset !important;
	max-height: unset !important;
	max-width: unset !important;
}

.oc-dialog .actions.creatable {
	display: none !important;
}

#oc-dialog-filepicker-content {
	max-width: unset !important;
}

.oc-dialog-close {
	display: none !important;
}
