/*!
 * SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

header#header {
	display: none !important;
}

.modal-container__close {
	display: none !important;
}

.file-picker__main {
	.breadcrumb__actions {
		display: none !important;
	}
}

.dialog__actions {
	justify-content: center !important;
}